body {
      background-image: url('pictures/background2.jpg');
      background-repeat: repeat;
      background-attachment: fixed;
    }

#mydiv{
  position: absolute;
  top: 210px;
  left: 63px;
  width: 225px;
  height: 175px;
  z-index: 9;
  padding: 2px;
  background-color: pink;
  text-align: center;
  font: Times New Roman;
  border: 2px solid black
}

#mydivheader {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: pink;
}
  #mydiv2{
  position: absolute;
  width: 500px;
  height: 250px;
  top: 200px;
  left: 570px;
  position-x
  z-index: 9;
  padding: 2px;
  background-color: pink;
  text-align: center;
  font: Times New Roman;
  border: 2px solid black
}

#mydivheader2 {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: pink;
}

  #mydiv3{
  position: absolute;
  top: 760px;
  left: 653px;
  position-x
}

#mydivheader3 {
  padding: 2px;
  cursor: move;
  z-index: 10;
}

#plantwords{
  font: Times New Roman;
  font-size: 20px;
  color: pink;
  width: 0px;
  background-color: pink;
}

#mydiv4{
  position: absolute;
  top: 500px;
  left: 1400px;
  width: 420px;
  height: 290px;
  position-x
  z-index: 9;
  padding: 2px;
  background-color: pink;
  text-align: center;
  font: Times New Roman;
  border: 2px solid black
}

#mydivheader4 {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: pink;
}

#eye2{
  position: absolute;
  width: 500px;
  height: 250px;
  top: 200px;
  left: 570px;
  position-x
  z-index: 9;
  padding: 2px;
  background-color: pink;
  text-align: center;
  font: Times New Roman;
  border: 2px solid black
}

#eyeh2 {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: pink;
}

#mouth{
  position: absolute;
  width: 500px;
  height: 250px;
  top: 200px;
  left: 570px;
  position-x
  z-index: 9;
  padding: 2px;
  background-color: pink;
  text-align: center;
  font: Times New Roman;
  border: 2px solid black
}

#mouthh {
  padding: 2px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: pink;
}